@mixin if-mobile {
  @media (max-width: $bp-md) {
    @content;
  }
}

@mixin if-not-mobile {
  @media (min-width: $bp-md) {
    @content;
  }
}

// cf.
// - https://github.com/Semantic-Org/Semantic-UI/blob/master/src/definitions/elements/loader.less
// - https://github.com/twbs/bootstrap/blob/master/scss/_spinners.scss
@mixin spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid $grey-4;
  border-right-color: $grey-8;
  animation: spinner_keyframes 0.6s linear infinite;

  @keyframes spinner_keyframes {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
  }
}

// cf. https://www.w3.org/TR/2016/WD-mediaqueries-4-20160706/#hover

@mixin hover ($arg: as-usual) {
  @if $arg == disable-if-mobile {
    @include if-not-mobile {
      &:hover {
        @content;
      }
    }
  } @else if $arg == default-if-mobile {
    @include if-mobile {
      @content;
    }
    @include if-not-mobile {
      &:hover {
        @content;
      }
    }
  } @else if $arg == as-usual {
    &:hover {
      @content;
    }
  } @else {
    @error "'disable-if-mobile' or 'default-if-mobile' expected.";
  }
}


// Partially copied from youtube
@mixin input {
  box-sizing: border-box;
  width: 110px;
  padding: 1px 3px 1px 6px;
  border: 1px solid $grey-4;
  border-radius: 2px;
  box-shadow: inset 0px 1px 2px $grey-2;
  background-color: white;

  &:focus {
      border-color: $blue-7;
      box-shadow: inset 0px 1px 2px $grey-4;
  }
}

@mixin button($hover: noop) {
  width: 100px;
  cursor: pointer;
  border: 1px solid $grey-4;
  padding: 4px 4px 4px 4px;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px $grey-2;
  background-color: $grey-2;
  color: $grey-8;

  @if $hover != no-hover {
    @include hover(disable-if-mobile) {
      background-color: $grey-3;
      color: black;
    }
  }
}

@mixin select {
  cursor: pointer;
  width: 100px;
  padding-left: 3px;
  border: 1px solid $grey-4;
  border-radius: 2px;
  background-color: white;
  word-break: break-all;
  white-space: nowrap;

  &:focus {
      border-color: $blue-7;
  }
}


@mixin grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin grid-item {
  // (margin * 2 + width) * 4 = 100
  @media (min-width: $bp-md) {
      margin: 1%;
      width: 23%;
  }
  @media (max-width: $bp-md) {
      margin: 2%;
      width: 46%;
  }
  @media (max-width: $bp-sm) {
      margin: 3%;
      width: 94%;
  }
}

@mixin fade-lines($line-height, $num) {
  position: relative;
  overflow: hidden;
  height: $line-height * $num;
  &::after {
      content: '';
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 30%;
      height: $line-height;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
  }
}
