// color (cf: https://material.io/design/color/the-color-system.html#tools-for-picking-colors)
$grey-05: #FAFAFA;
$grey-1: #F5F5F5;
$grey-2: #EEEEEE;
$grey-3: #E0E0E0;
$grey-4: #BDBDBD;
$grey-5: #9E9E9E;
$grey-6: #757575;
$grey-7: #616161;
$grey-8: #424242;
$grey-9: #212121;

$blue-0: #f6fbff;
$blue-05: #E3F2FD;
$blue-1: #BBDEFB;
$blue-2: #90CAF9;
$blue-3: #64B5F6;
$blue-4: #42A5F5;
$blue-5: #2196F3;
$blue-6: #1E88E5;
$blue-7: #1976D2;
$blue-8: #1565C0;
$blue-9: #0D47A1;

$col-x: #ffe7de;
$col-y: #9dff9d;

// Breakpoint
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
