<!DOCTYPE html>
<html lang="en">
    <head>
        <title>YTSUB</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link rel="manifest" href="<%= webpackConfig.output.publicPath %>manifest.json">
        <link rel="icon" href="<%= webpackConfig.output.publicPath %>favicon.png" sizes="32x32" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
