.input-component {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    input {
        @include input;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    button {
        @include button;
        padding: 0px 4px 0px 4px;
        width: 33px;
        border-left: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        i {
            position: relative;
            top: 1px;
            font-size: 20px;
        }
    }
}
