#header {
    flex: 0 0 auto;
    padding: 6px 7px 6px 7px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 15px;
    @include if-mobile {
        padding: 5px;
        margin-right: 5px; // NOTE: something is sketchy when overflow-x (e.g. padding-right is meaningless)
    }

    > * {
        flex: 0 0 auto;
    }

    .home-nav {
        @include button;
        margin-right: 12px;
        padding: 0px;
        width: 28px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        i {
            font-size: 19px;
            position: relative;
            top: 0px;
        }
    }

    .video-id-input {
        margin-right: 12px;
    }

    .toggle-player {
        @include button;
        @include if-not-mobile {
            display: none;
        }
        margin-right: 12px;
        padding: 0px;
        width: 73px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &__text {
            padding-right: 4px;
        }
        i {
            font-size: 19px;
            position: relative;
            top: 1px;
        }
    }

    .playback-speed-select {
        @include if-not-mobile {
            display: none;
        }
        margin-left: 12px;
        display: flex;
        flex-direction: row;
        align-items: stretch;

        select {
            @include select;
            width: 60px;
            border-right: 0px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        div {
            @include button(no-hover);
            cursor: default;
            padding: 0px 4px 0px 4px;
            width: 23px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;

            i {
                font-size: 18px;
                position: relative;
                top: 2px;
                left: 2px;
            }
        }
    }

    .language-select {
        display: flex;
        flex-direction: row;
        align-items: stretch;

        select {
            @include select;
            width: 140px;
            &:first-of-type {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }
            &:last-of-type {
                border-left: 0px;
                border-right: 0px;
                border-radius: 0px;
            }
        }
        div {
            @include button(no-hover);
            cursor: default;
            padding: 0px 4px 0px 4px;
            width: 23px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;

            i {
                font-size: 18px;
                position: relative;
                top: 2px;
                left: 2px;
            }
        }
    }
}
