.home {
    background: #f7f7f7;
    &:focus { outline: none; }
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    @include if-mobile {
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
    transform: translate(-50%, -50%);
    overflow-x: hidden;
    overflow-y: auto;

    display: flex;
    flex-direction: column;

    > * {
        flex: 0 0 auto;
    }

    &__close {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        i {
            font-size: 26px;
        }
    }

    &__header {
        margin: 20px 10px 10px 20px;
        font-size: 20rem;
    }

    &__body {
        @include grid-container;
        &:last-child {
            margin-bottom: 20px;
        }
    }

    &__body--with-input {
        margin: 5px 0px 10px 30px;
    }
}

.home-item {
    @include grid-item;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 2px 1px 0px #ccc;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;

    @include hover(default-if-mobile) {
        .home-item__remove {
            display: initial;
        }
    }

    &__remove {
        display: none;
        z-index: 1;
        position: absolute;
        top: 5px;
        right: 5px;
        border-radius: 3px;
        background: rgba(0,0,0,0.7);
        color: #fffffff0;
    }

    &__cover {
        border-radius: 3px 3px 0 0;
        width: 100%;
        position: relative;
        padding-top: 55%;
        overflow: hidden;

        img {
            width: 100%;
            position: absolute;
            top: -18%;
        }
    }

    &__title {
        @include fade-lines(16px, 2);
        margin: 8px 6px 0px 6px;
        font-size: 16px;
        color: $grey-8;
    }
    &__author {
        margin: 6px 6px 8px 6px;
        font-size: 14px;
        a {
            color: $grey-5;
            text-decoration: none;
            @include hover(default-if-mobile) {
                text-decoration: underline;
            }
        }
    }
}
