#main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    overflow: hidden; // for some versions of Chrome, this is necessary (TODO: read spec)

    #player-container {
        &.hidden { display: none; }
        flex: 0 0 66%;

        // Aspect ratio fixing tricks
        #player-aspect-ratio-fixer1 {
            width: 100%;

            #player-aspect-ratio-fixer2 {
                padding-top: 56.25%;
                position: relative;

                #player {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    z-index: 1;
                }
            }
        }
    }

    @include if-mobile {
        flex-direction: column;

        #player-container {
            flex: 0 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            // margin: 0px 5px 5px 5px;

            #player-aspect-ratio-fixer1 {
                flex: 0 0 auto;
                max-width: 450px;
            }
        }
    }

    .subtitle-panel {
        flex: 1 1 auto;
        // margin: 0px 5px 5px 5px;
        padding: 5px;
        overflow-y: auto;
        background-color: $blue-05;
        // border-radius: 6px;
        // border: 1px solid $blue-2;

        // Overwrite useragent stylesheet due to tabIndex='0'
        > div {
            outline: none;
        }

        &__spinner {
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            &::before {
                content: '';
                display: block;
                @include spinner;
            }
        }
    }
}
