html {
    // cf. https://material.io/design/typography/#type-scale
    // after this setup, 10rem <=> 10pt (iOS) <=> 10sp (Android)
    font-size: 0.0625em;
    height: 100%;
    font-family: "Roboto";
}

body {
    width: 100%; height: 100%;
    font-size: 12rem;
}

#app {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100%;
    background-color: $grey-05;

    .app-spinner {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &::before {
            content: '';
            @include spinner;
            width: 100px;
            height: 100px;
        }
    }

}
