.timed-text-entry {
    position: relative;
    padding: 6px 7px 6px 7px;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: $blue-0;

    &:last-of-type {
        margin-bottom: 0px;
    }
    &.focusing {
        background-color: $col-x;
    }
    &.looping {
        background-color: $col-y;
    }

    &__header {
        display: flex;
        flex-direction: row;
        margin-bottom: 2px;

        .control {
            position: relative;
            top: -2px;
            padding-right: 5px;
            cursor: pointer;

            i {
                font-size: 17px;
                color: $grey-5;
            }
            @include hover(disable-if-mobile) {
                i { color: $grey-8; }
            }
            &.enabled {
                i { color: $grey-8; }
            }
        }

        .time {
            font-size: 13px;
            color: $grey-8;
        }
    }

    &__body {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        font-size: 14px;
        line-height: 18px;
        color: $grey-9;

        > div {
            flex: 1 1 50%;
            &:first-child {
                padding-right: 7px;
                border-right: 1px solid $blue-2;
            }
            &:not(:first-child) {
                padding-left: 7px;
            }
        }
    }

    &__practice-box {
        position: absolute;
        z-index: 1;
        margin: 3px 10px 6px 10px;
        border: 1px solid $grey-5;
        padding: 5px 5px 2px 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 2px 0px $grey-4;
        background: $grey-05;

        &::before {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            position: absolute;
            background: inherit;
            left: 20px;
            top: -6px;
            transform: rotate(45deg);
            border: inherit;
            border-right: none;
            border-bottom: none;
        }
    }
}

.practice-box {
    &__body {
        > div {
            display: inline-block;
            cursor: pointer;
            margin: 2px;
            border: 1px solid $grey-6;
            padding: 1px 3px 2px 3px;
            border-radius: 3px;
            font-size: 14px;
            color: $grey-9;

            &.selected {
                text-decoration: line-through;
                color: $grey-4;
            }
        }
    }

    &__footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5px;
        height: 21px;

        > div {
            &:not(:last-child) {
                margin-right: 12px;
            }
            padding: 0px 4px 0px 4px;
            color: $grey-6;
            cursor: pointer;

            @include hover(disable-if-mobile) {
                color: $grey-9;
            }

            &.enabled {
                color: $grey-9;
            }

            > span {
                display: inline-block;
                i {
                    font-size: 19px;
                }
            }
        }
    }
}
